<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.dao.ParaInfoMapper">
  <resultMap id="BaseResultMap" type="com.account.entity.ParaInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, p_id, name, del_flag
  </sql>
  <sql id="ParaInfo_List">
	a.id AS "id",
	a.p_id AS "pId",
	a.name AS "name",
	a.del_flag AS "delFlag"
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.account.entity.ParaInfo">
    SELECT 
      <include refid="ParaInfo_List" />,
	  ap.`name` AS pName
	FROM
	  account_para_info a,
	  account_para ap 
	WHERE 1 = 1 
	  AND a.`p_id` = ap.`id` 
	  AND a.`del_flag` = 0 
	  AND ap.`del_flag` = 0 
      AND a.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from account_para_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.account.entity.ParaInfo">
    insert into account_para_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pId != null">
        p_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.account.entity.ParaInfo">
    update account_para_info
    <set>
      <if test="pId != null">
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>  
  <select id="findList" parameterType="com.account.utils.pagebean.ParaInfoPage" resultType="com.account.entity.ParaInfo">
    SELECT 
	  <include refid="ParaInfo_List" />,
	  ap.`name` AS pName
	FROM
	  account_para_info a,
	  account_para ap 
	WHERE 1 = 1 
	  AND a.`p_id` = ap.`id` 
	  AND a.`del_flag` = 0 
	<if test="pName != null and pName != ''">
      AND a.name like CONCAT(CONCAT('%',#{pName}),'%') 
    </if>
	<if test="pId != null and pId != ''">
      AND a.p_id = #{pId}
    </if>
    LIMIT
		#{begin},#{end}
  </select>
  <select id="findListCount" parameterType="com.account.utils.pagebean.ParaInfoPage" resultType="int">
    SELECT 
	  count(*) AS count
	FROM
	  account_para_info a,
	  account_para ap 
	WHERE 1 = 1 
	  AND a.`p_id` = ap.`id` 
	  AND a.`del_flag` = 0 
	<if test="pName != null and pName != ''">
      AND a.name like CONCAT(CONCAT('%',#{pName}),'%') 
    </if>
	<if test="pId != null and pId != ''">
      AND a.p_id = #{pId}
    </if>
    LIMIT
		#{begin},#{end}
  </select>
  
  <select id="getParaInfoList" resultType="com.account.entity.ParaInfo">
		SELECT 
			 <include refid="ParaInfo_List" />
		FROM account_para_info a
		WHERE a.p_id=#{pId}
	</select>
</mapper>